<div *ngIf="!pais; else divPais "
    class="alert alert-info">
    Espere por favor...
</div>

<ng-template #divPais >
    <div *ngFor="let item of pais">
    <div class="row" >
        <div class="col-12">
            <h1 > País: <small>{{item.name}}</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img src="{{item.flags.png}}"  class="small-flag">
  
        </div>
        <div class="col">
            <h3>Información</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Población:</strong> {{item.population | number}}
                </li>
                <li class="list-group-item">
                    <strong>Código númerico:</strong> {{ item.ccn3 }}
                </li>
                <li class="list-group-item">
                    <strong>Código alpha 3:</strong> {{ item.cca3 }}
                </li>

            </ul>
        </div>
    </div>
    <h3>Traducciones</h3>
    <div class="row">
        <div class="col">
            <span class="badge bg-primary mr-1">{{item.translations.ara.official}}</span>
            <span class="badge bg-primary mr-1">{{item.translations.fin.official}}</span>
            <span class="badge bg-primary mr-1">{{item.translations.jpn.official}}</span>
            <span class="badge bg-primary mr-1">{{item.translations.per.official}}</span>
            <span class="badge bg-primary mr-1">{{item.translations.zho.official}}</span>
        </div>
    </div>
    <!-- <pre class="mt-5">
        {{item | json}}
    </pre>     -->
</div>
    
</ng-template>